.kicking-game-icon {
  width: 100%;
}

.kicking-game-container {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
  display: grid;
  grid-template-columns: .75fr 1fr .75fr;
  justify-items: center;
}

.kicking-game-odd {
  text-align: left;
}

.kicking-game-even {
  text-align: right;
}

.kicking-game-even li {
  direction: rtl;
  margin-right: 1.5rem;
}
