.header-container {
	display: grid;
  padding: 2rem 0;
  background: var(--color-primary);
	color: white;
	align-items: center;
}

.header-container_desktop {
  grid-template-columns: .15fr 2fr 1fr .25fr;
	justify-content: space-between;
  align-content: space-between;
}

.header-container_mobile {
  grid-template-columns: .25fr 1fr .25fr;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2% 2% 2% 2%;
  z-index: 2;
}

.logo-image {
  height: 35px;
  width: 300px;
}

#email-icon {
	color: var(--color-secondary);
  font-size: large;
}
