.footbag-game-section {
  padding: 1rem 0 3rem 0;
}

.footbag-game-section-with-background {
  background-color: var(--color-secondary-light);
}

.footbag-game-section-header {
	color: var(--color-secondary)
}

.footbag-game-icon {
	height: 150px;
	width: 150px;
}

.footbag-game-gif {
  width: 100%;
}