.menu-item a {
  color: white;
}

.menu-item a:hover,
.menu-item:hover,
.submenu:hover {
  color: var(--color-secondary)
}

.submenu {
  display: inline;
}

.submenu-arrow {
  font-size: x-small;
  vertical-align: middle;
  width: 10px;
}

.submenu:hover {
  cursor: pointer;
}

.submenu-arrow-down {
  display: none;
}

.submenu .menu-item {
  cursor: pointer;
}

.submenu-item-container {
  display: none;
  background-color: var(--color-primary);
  padding: 1rem;
}

.submenu:hover .submenu-item-container {
  display: block;
}

.submenu:hover .submenu-arrow-right {
  display: none;
}

.submenu:hover .submenu-arrow-down {
  display: inline;
}

.submenu-item {
  padding: 5px 0;
  font-weight: bold;
}



/* desktop css */

.desktop-menu-container {
  display: grid;
  grid-auto-flow: column;
}

.desktop-submenu-item-container {
  position: absolute;
  z-index: 1;
}



/* mobile css */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 8%;
  height: 5%;
  left: initial;
  right: 4%;
  top: 1rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--color-secondary);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--color-primary);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
