nav {
	background: var(--color-primary);
	color: white;
	align-items: center;
	padding: 2% 5%;
}

#header-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	justify-content: space-between;
  align-content: space-between;
}

#logo-image {
	max-height: 45px;
	cursor: pointer;
	color: var(--color-secondary);
  height: 35;
  width: 300;
}

#email-icon {
	color: var(--color-secondary);
}
