.about-section-container_desktop {
  display: grid;
  grid-template-columns: 1.75fr .75fr;
  grid-gap: 2rem;
}

.about-section-image-container {
  text-align: center;
}

.about-section-image {
  height: 75%;
  width: 75%;
}

.about-section-item {
  background-color: var(--color-tertiary);
  padding: 2rem;
}

.about-section-item_mobile {
  margin-top: 2rem;
}

.about-section-item-header,
.about-button-container {
  text-align: center;
}

.about-section-item-header {
  margin-bottom: 3rem;
}

.about-section-content {
  min-height: 60%;
}

.about-section-content-history {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.about-section-text {
  margin-top: 0;
  font-size: large;
}
