@media (max-width: 850px) {
  .single-sport-about-content-container {
    display: block;
  }

  .footbag-game-gif {
    margin: 0 auto;
  }
}

@media (min-width: 850px) {
  .single-sport-about-content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .footbag-game-gif {
    justify-self: right;
  }
}

.single-sport-about-description {
  text-align: left;
  margin: 0;
}
