.single-sport-about-container {
  padding-left: 8rem;
  padding-right: 8rem;
}

.single-sport-about-content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.single-sport-about-gif {
  text-align: right !important;
}

.single-sport-about-description {
  text-align: left !important;
  margin: 0;
}
