.intro-container {
	background-color: var(--color-secondary-light);
	text-align: center;
}

.intro-header {
	color: var(--color-secondary);
	padding-top: 1rem;
  margin-top: 0;
}

.footbag-game-container {
  margin-bottom: 1rem;
}

.footbag-game-button {
	color: black;
	background-color: var(--color-secondary);
}

.footbag-game-button strong {
  color: black;
}

#footbag-games-container {
	margin: 2rem;
	padding-bottom: 2rem;
}

.footbag-games-desktop-container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
}

.footbag-games-desktop-container .footbag-game {
	min-height: 90%;
}

.footbag-description {
	font-size: medium;
	margin: 2rem 4rem 4rem 4rem;
}

.footbag-game-icon {
	border-radius: 50%;
}
